* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#nav-mobile {
  padding-left: 165px;
  margin: 5px;
  font-family: "Varela Round", sans-serif;
}

#nav-mobile2 {
  padding-right: 100px;
  margin: 5px;
  font-family: "Varela Round", sans-serif;
}

nav div {
  padding-bottom: 79px;
  /* padding-top: ; */
}

nav div img {
  width: 29%;
  height: 75px;
}

#redes img {
  width: 50px;
  height: 50px;
}

#redes h5 {
  margin-right: 27px;
}

#redes ul li {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

#footer {
  background-color: black;
  padding-top: 10px;
  color: whitesmoke;
  text-align: center;
}

#categoria {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
}

#categoria a:hover {
  text-decoration: underline;
}

#contato {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
}

#contato a:hover {
  text-decoration: underline;
}

#redes {
  font-family: "Varela Round", sans-serif;
}

#nav-mobile li a {
  font-size: 13pt;
  text-decoration: none;
  color: white;
}

#nav-mobile2 li a {
  font-size: 13pt;
  text-decoration: none;
  color: white;
}

#mobile-demo li a {
  opacity: 0.7;
}

#mobile-demo li a:hover {
  font-size: 15pt;
  opacity: 1;
}

#nav-mobile li a:hover {
  font-size: 15pt;
}

#nav-mobile2 li a:hover {
  font-size: 15pt;
}

#cardM {
  display: inline-block;
  box-shadow: 0 0 0 0 transparent;
  border: none;
  width: auto;
  padding-right:38.9px;
  padding-left:50px;
  padding-bottom:30px;
}

#cardF {
  display: inline-block;
  box-shadow: 0 0 0 0 transparent;
  border: none;
  width: auto;
  padding-right:38.9px;
  padding-left:50px;
  padding-bottom:30px;
  padding-top: 10px;
}

#letra {
  font: 400 13px/16px "Poppins", sans-serif;
  font-size: 14px;
  color: #898b9c;
}

#desconto {
  font-size: 15pt;
}

#preço {
  color: #898b9c;
  text-decoration: line-through;
}

#letra {
  text-decoration: none;
}

#letra2 {
  font-size: 14pt;
}

/* #exampleModal {
  width: 600px;
  height: auto;
} */

#desconto {
  font-family: "Montserrat", sans-serif;
}

#preço {
  font-family: "Montserrat", sans-serif;
}

#letra,
#letra2,
#letra3,
#letra4,
#letra5,
#letra6 {
  font-family: "Montserrat", sans-serif;
}

#cards{
text-align: center;
width: auto; 
margin-left: 100px;
}

#cardimg img {
  width: auto;
  height: 200px;

}

#letrafiltro{
  font-weight: bold;
  margin-left: 24px;
  padding-bottom:10px ;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
}

hr{
  border-color:black;
}

#filtro{
  position:fixed; 
  width: 101px; 
  margin-left: 5px; 
  border-left: 2px solid black; 
  border-right: 2px solid black;
}

#filtro a{
  color: black;
  font-family: arial;
  font-size: 12pt;
  padding-left: 9px;
  font-family: "Montserrat", sans-serif;
}




